<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')  %>
    <body>

        <%- include('./partials/nav.ejs')  %>
        
            <div class="about content">
            <h2>About Us</h2>
            <p>Welcome to LightBlogs We are a team of passionate writers and content creators who are dedicated to providing our readers with informative and engaging content on a variety of topics. From health and wellness to travel and lifestyle, we cover a wide range of subjects that are sure to inspire and inform.

                Our mission is to create content that is both entertaining and educational, providing our readers with valuable insights and tips that they can use in their daily lives. Whether you're looking for advice on how to live a healthier lifestyle or simply want to explore new places and cultures, we've got you covered.
                
                We believe that everyone has the potential to live their best life, and we're here to help you do just that. With our expert writers and carefully curated content, we aim to be your go-to source for all things lifestyle and beyond. Thank you for visiting our blog, and we hope you enjoy reading our articles as much as we enjoy writing them!</p>
            </div>

            <%- include('./partials/footer.ejs') %>
    </body>
</html>